body{
    background-color: #fff;
    margin: 0;
    width: 1920px;
    background-position: center;
    background-size: cover;
}
.header_line{
    position: absolute;
    border: 1px solid #D3DDE6;
    background: #D3DDE6;
    width: 1920px;
    top: 244px;
    z-index: -1;
}
.container_main{
    width: 1446px;
    /* height: 1101px; */
    margin: auto;
}
.container{
    height: 216px;
    padding-top: 28px;
}
.container_top{
    height: 108px;
    display: flex;
    align-items: center;
}
.img_logo{
    margin-right: 7px;
}
.img_shenko{
    margin-right: 286px;
}
.address{
    width: 286px;
    height: 40px;
    display: flex;
    align-items: center;
    margin-right: 31px;
    text-decoration: none;
    font-family: 'Montserrat';
    font-style: normal;
    font-size: 22px;
    color: #536779;
}
.img_vector_address{
    margin-right: 11px;
}
.tel{
    width: 263px;
    height: 40px;
    font-family: 'Montserrat';
    font-style: normal;
    font-size: 22px;
    color: #536779;
    text-decoration: none;
    display: flex;
    margin-right: 25px;
    align-items: center;
}
.square_tel{
    width: 40px;
    height: 40px;
    border-radius: 5px;
    background: #D3DDE6;
    margin-right: 12px;
}
.img_tel {
    background:#D3DDE6;
    padding: 10px 12px;
    margin-right: 12px;
}
.button{
    width: 275px;
    height: 79px;
    background: #98C5EB;
    border-radius: 150px;
    display: flex;
}
.button > button{
    font-family: 'Montserrat';
    font-weight: 700;
    font-size: 18px;
    text-transform: uppercase;
    color: #fff;
    margin: auto;
    background-color: #98C5EB;
    border: none;
}
.nav{
    height: 108px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* border-bottom: 2px solid #D3DDE6; */
}
.nav > a{
    text-decoration: none;
    font-family: 'Montserrat';
    font-weight: 400;
    font-size: 22px;
    color: #264158;
    padding: 44.5px 0;
    
}
.nav > a:hover{
    border-bottom: 6px solid #F79781;
    padding-bottom: 38.5px;
}
.nav > .payment{
    display: flex;
    align-items: center;
    padding: 39.5px 0;
    font-weight: 700;
}
.nav > .payment:hover{
    border-bottom: 6px solid #F79781;
    padding-bottom: 33.5px;
}
.payment > img{
    padding-left: 15px;
}
.payment:hover{
    border-bottom: 2px solid #F79781;
    padding-bottom: 39.5px;
}
.enroll{
    display: flex;
}
.hand_by_hand{
    padding-top: 99px;
    padding-right: 75px;
}
.center_name{
    display: flex;
    flex-direction: column;
}
.center{
    color: #536779;
    font-family: "Montserrat";
    font-weight: 400;
    font-size: 22px;
    text-transform: uppercase;
    padding-top: 138px;
    margin: 0;
}
.pract_psycho{
    color: #264158;
    font-family: 'Cormorant';
    font-style: normal;
    font-weight: 700;
    font-size: 60px;
    text-transform: uppercase;
    margin: 0;
    padding-top: 41px;
}
.melani{
    color: #F79781;
    font-family: 'Cormorant';
    font-style: normal;
    font-weight: 700;
    font-size: 60px;
    text-transform: uppercase;
    margin: 0;
    padding-top: 25px;
}
.img_shenkopsychologist{
    display: flex;
    margin-top: 60px;
}
.psychologist{
    display: flex;
    padding-top: 74px;
}
.line{
    border-bottom: 3px solid #D3DDE6;
    width: 45px;
    padding-right: 15px;
    margin-bottom: 35px;
}
.psychologist > p{
    color: #536779;
    font-family: "Montserrat";
    font-weight: 400;
    font-size: 20px;
    width: 305px;
    margin: 0;
    padding-left: 15px;
}