body{
    background-color: #fff;
    margin: 0;
    width: 1920px;
    background-position: center;
    background-size: cover;
}
.header_line{
    position: absolute;
    border: 1px solid #D3DDE6;
    background: #D3DDE6;
    width: 1920px;
    top: 240.5px;
    z-index: -1;
}
.container_main{
    width: 1446px;
    /* height: 1101px; */
    margin: auto;
}
.container{
    height: 216px;
    padding-top: 28px;
}
.container_top{
    height: 108px;
    display: flex;
    align-items: center;
}
.logo_full{
    margin-right: 286px;
}
.address{
    width: 286px;
    height: 40px;
    display: flex;
    align-items: center;
    margin-right: 31px;
    text-decoration: none;
    font-family: 'Montserrat';
    font-style: normal;
    font-size: 22px;
    color: #536779;
}
.img_vector_address{
    margin-right: 11px;
}
.tel{
    width: 263px;
    height: 40px;
    font-family: 'Montserrat';
    font-style: normal;
    font-size: 22px;
    color: #536779;
    text-decoration: none;
    display: flex;
    margin-right: 25px;
    align-items: center;
}
.square_tel{
    width: 40px;
    height: 40px;
    border-radius: 5px;
    background: #D3DDE6;
    margin-right: 12px;
}
.img_tel {
    background:#D3DDE6;
    padding: 10px 12px;
    margin-right: 12px;
}
.button{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 275px;
    height: 79px;
    background: #98C5EB;
    border-radius: 150px;
    font-family: 'Montserrat';
    font-weight: 700;
    font-size: 18px;
    text-transform: uppercase;
    color: #fff;
    margin: auto;
    border: none;
}
.button:active{
    background-image: radial-gradient(#536779, #D3DDE6);
}
.nav{
    height: 108px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.nav > a{
    text-decoration: none;
    font-family: 'Montserrat';
    font-weight: 400;
    font-size: 22px;
    color: #264158;
    padding-top: 38px;
}
.nav > a > div{
    margin-top: 38px;
    border: 3px solid rgba(0,0,0,0.0);
}
.nav > a:hover div{
    border: 3px solid #F79781;
    border-radius: 3px;
    background:#F79781;
}
.payment > a{
    display: flex;
    align-items: center;
    text-decoration: none;
    font-family: 'Montserrat';
    font-weight: 700;
    font-size: 22px;
    color: #264158;
    padding-top: 33px;
}
.payment > a > img{
    padding-left: 15px;
}
.payment > div{
    margin-top: 33px;
    border: 3px solid rgba(0,0,0,0.0);
}
.payment:hover div{
    border: 3px solid #F79781;
    border-radius: 3px;
    background:#F79781;
}
.enroll{
    display: flex;
}
.hand_by_hand{
    padding-top: 99px;
    padding-right: 75px;
}
.center_name{
    display: flex;
    flex-direction: column;
}
.center{
    color: #536779;
    font-family: "Montserrat";
    font-weight: 400;
    font-size: 22px;
    text-transform: uppercase;
    padding-top: 138px;
    margin: 0;
}
.pract_psycho{
    color: #264158;
    font-family: 'Cormorant';
    font-style: normal;
    font-weight: 700;
    font-size: 60px;
    text-transform: uppercase;
    margin: 0;
    padding-top: 41px;
}
.melani{
    color: #F79781;
    font-family: 'Cormorant';
    font-style: normal;
    font-weight: 700;
    font-size: 60px;
    text-transform: uppercase;
    margin: 0;
    padding-top: 25px;
}
.img_shenkopsychologist{
    display: flex;
    margin-top: 60px;
}
.psychologist{
    display: flex;
    padding-top: 74px;
}
.line{
    border-bottom: 3px solid #D3DDE6;
    width: 45px;
    padding-right: 15px;
    margin-bottom: 35px;
}
.psychologist > p{
    color: #536779;
    font-family: "Montserrat";
    font-weight: 400;
    font-size: 20px;
    width: 305px;
    margin: 0;
    padding-left: 15px;
}
.btn_container{
    display: flex;
}
.btn_enroll{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 354px;
    height: 98px;
    box-shadow: 3px 3px 5px rgba(106, 55, 44, 0.16);
    background: #F79781;
    border-radius: 150px;
    font-family: 'Montserrat';
    font-weight: 700;
    font-size: 30px;
    text-transform: uppercase;
    color: #fff;
    margin: auto;
    border: none;
    padding: 0;
    margin: 60px 3px 20px 0;
}
.btn_container > img{
    margin-top: 124px;
}
.discount{
    display: flex;
    margin-left: 333px;
    align-items: center;
}
.discouunt_price{
    font-family: 'Montserrat';
    font-weight: 700;
    font-size: 20px;
    color: #536779;
    margin: 0;
}
.first_lesson{
    font-family: 'Montserrat';
    font-weight: 400;
    font-size: 20px;
    color: #536779;
    margin: 0;
}
.price_300{
    font-family: "Arsenal";
    font-weight: 700;
    font-size: 70px;
    color: #F79781;
    margin: 0;
}
.img_600{
    padding-left: 550px;
}
.line_2{
    width: 80px;
    border: 1.5px solid #F79781;
    background: #F79781;
    transform: rotate(170deg);
    position: relative;
    left: 550px;
    top: -14px;
}